    <div class="buttons has-addons is-centered mt-6">
        <button class="button is-primary is-rounded" routerLink="/cadastrar">Cadastrar um produto</button>
    </div>
    <!-- <div class="buttons has-addons is-centered">
        <button class="button is-primary is-rounded">Listar uma pessoa</button>
    </div> -->
    <div class="buttons has-addons is-centered">
        <button class="button is-primary is-rounded" routerLink="/listar">Listar todos os produtos</button>
    </div>
    <!-- <div class="buttons has-addons is-centered">
        <button class="button is-primary is-rounded">Excluir uma pessoa</button>
    </div>
    <div class="buttons has-addons is-centered">
        <button class="button is-primary is-rounded">Atualizar uma pessoa</button>
    </div> -->
